body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
}

.nav-bar {
  background-color: black;
  width: 100%;
  color: rgba(235, 235, 235, 0.788);
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.nav-bar span {
  transform: translate(0, 25%);
}

.main-content {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

.left-aside {
  width: 10%;
}

.about {
  background-color: rgba(235, 235, 235, 0.788);
}

.nav-bar-aside {
  display: flex;
  flex-direction: column;
}

.article {
  border: 1px solid grey;
  margin-top: 20px;
}

.article figure {
  margin: 0;
}

.article img {
  width: 100%;
}

.articles {
  width: 30%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-box {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(241, 241, 241, 0.473);
}

.input-box {
  display: flex;
  flex-direction: column;
}

.login-box button {
  border: none;
  background-color: rgba(0, 107, 194, 0.747);
  color: white;
  border-radius: 3px;
}
